fastapi
uvicorn[standard]
jinja2
aiofiles
sqlalchemy
aiosqlite
passlib[bcrypt]
bcrypt
python-multipart
ldap3
psutil
pythonping
pydantic-settings
starlette
itsdangerous
httpx
pyotp
asyncssh
pysnmp
alembic
slowapi
cryptography
